
body{
  font-family: dosisregular;
  text-shadow: 2px 2px #000000;
  color:#C9C9C9;
  font-size:19px;
  background-color: black /*rgb(36, 36, 36)*/;
  background-image: url('../i/bluegrid.png');
  background-attachment: fixed;
  margin: 0px;
}

.blink {
  animation: blink 1s steps(10, start) infinite;
  -webkit-animation: blink 1s steps(10, start) infinite;
}
@keyframes blink {
  to {
    background-color: rgba(204,78,78,.6);
  }
}
@-webkit-keyframes blink {
  to {
    background-color: rgba(204,78,78,.6);
  }
}

.content-wrapper{
  /*background-image: url('../i/static2.gif');*/
  /*background-repeat: repeat-y;*/
  background-attachment: fixed;
  min-height:100%;
  display:block;
  overflow:auto;
}

h1{
  font-size:25px;
  text-align:center;
}

h4{
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 2px;
}

#break{
  width: 300px;
  height: 1px;
  border: 0;
  border-top: 1px solid #868686;
  padding: 0;
}

#numbers{
  font-size:25px;
}

a, a.nav-link:link, a:hover, a:focus, a:active, a:visited{
  color:#868686;
  text-decoration:none;
}

canvas {
  margin: 0 !important;
}

.collection-entry{
  padding: 15px;
  margin: 10px 0;
  background-color: rgba(22, 49, 98, 0.28);
}

.collection-entry:hover{
  background-color: rgba(22, 49, 98, 0.58);
  color:white;
}

.collection-entry-text-wrapper{
  padding-left:40px;
}

.gallery-icon-img{
  margin: 10px;
  border: 5px ridge rgba(51, 106, 123, 0.7);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.46);;
}

.gallery-iframe{
  border: none;
  box-shadow: 12px 16px 35px black;
  border: 5px ridge rgba(51, 106, 123, 0.7);
  margin: 0 auto;
  margin-top: 40px;
  display: block;
}

.hide{
  display: hidden;
}

.return-button{
  position: absolute;
  top: 615px;
  left: 44%;
  background-color:#B10909;
  display:block;margin:0 auto;
  border:none;
  font-size:25px;
}

.title-wrapper{
  width:100%;
  background-color: #313131 /*rgb(12, 12, 12)*/;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.46);
}

.gallery-hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(46, 46, 46);
  margin: 1em 0;
  padding: 0;
}

/*BOOTSTRAP*/

.thumbnail{
  background-color: transparent;
  border: none;
}

@media all and (min-height: 550px) {
  .container {
    top: 40%;
    height:40%;
   /* -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%); */
  }
}
