
body{
  font-family: dosisregular;
  color:#868686;
  font-size:17px;
  background-color:rgb(36, 36, 36);
  background-image: url('../i/grid.png');
  background-attachment: fixed;
  margin: 0px;
}

.content-wrapper{
  background-image: url('../i/refinery_silhouette_long_v1.png');
  background-repeat: repeat-y;
  background-attachment: fixed;
  min-height:100%;
  display:block;
  overflow:auto;
}

h1{
  font-size:25px;
  text-align:center;
}

h4{
  font-weight: bold;
  font-size: 21px;
  letter-spacing: 2px;
}

#break{
  width: 300px;
  height: 1px;
  border: 0;
  border-top: 1px solid #868686;
  padding: 0;
}

#numbers{
  font-size:25px;
}

a, a.nav-link:link, a:hover, a:focus, a:active, a:visited{
  color:#868686;
  text-decoration:none;
}

.collection-entry{
  padding: 15px;
  margin: 10px 0;
}

.collection-entry:hover{
  background-color: rgba(12,12,12,.7);
}

.collection-entry-text-wrapper{
  padding-left:40px;
}

.gallery-icon-img{
  margin: 10px;
  border: 1px solid #868686;;
}

.gallery-iframe{
  border: none;
  box-shadow: 5px 9px 12px #0D0D0D;
  margin: 0 auto;
  display:block;
}

.iframe-wrapper{
  width:100%; 
  margin-top:50px;
}

.return-button{
  background-color:#622222; 
  display:block;margin:0 auto;
  left:0;border:none;
  font-size:25px; 
  margin-bottom:20px
}

.title-wrapper{
  width:100%;
  background-color:rgb(12, 12, 12);
}

.gallery-hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(46, 46, 46);
  margin: 1em 0;
  padding: 0; 
}

/*BOOTSTRAP*/

.thumbnail{
  background-color: transparent;
  border: none;
}
