<div class="iframe-wrapper">
  <iframe class="gallery-iframe" align="center" width="100%" height="75%" src="http://localhost/geographyofrobots/volume/1"></iframe>
  <div style="margin:25px auto; width:700px; text-align:center">
    <p>
    	This is a short demo of the videogame <b>Geography of Robots</b>, which is currently in development. The game blends social histories of the River Parish region with speculative fiction and 16-bit-style side-scrolling gameplay.
    </p>
  </div>
  <a href="./#/"><button type="button" class="btn btn-danger return-button"><span class="glyphicon glyphicon-arrow-left"></span> Return to gallery</button></a>
</div>



