<div class="title-wrapper">
  <h1>BUMMER (DEMO)</h1>
</div>
<div class="iframe-wrapper">
  <iframe class="gallery-iframe" align="center" width="700" height="350" src="http://localhost/bummer"></iframe>
  <div style="margin:25px auto; width:700px; text-align:center">
    <p>
    	This is a short demo of the videogame <b>Bummer</b>, which is currently in development. Bummer blends social histories of the River Parish region with speculative fiction and 16-bit-style side-scrolling gameplay.
    </p>
  </div>
  <a href="./#/"><button type="button" class="btn btn-danger return-button"><span class="glyphicon glyphicon-arrow-left"></span> Return to gallery</button></a>
</div>



